@model Lotto.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <h2>Your lucky numbers!</h2>
        <ul>
            @foreach(var ball in Model.Balls)
            {
                <li class="ball @ball.Class">@ball.Number</li>
            }
        </ul>
    </div>
</div>
