@model Lotto.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <h2>Your lucky numbers!</h2>
        <ul>
            @foreach(var number in Model.Numbers)
            {
                <li>@number</li>
            }
        </ul>
    </div>
</div>
